@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom-swiper .swiper-pagination {
  margin-top: 20px;
}

.custom-swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #999;
  opacity: 1;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #ff6347; 
}

.custom-swiper .swiper-pagination-bullet.swiper-pagination-bullet-dynamic {
  margin: 0 5px; 
}

.custom-swiper .swiper-pagination-bullet:hover {
  background-color: #e91e63; 
}

.arr-custom .swiper-button-prev,
.arr-custom .swiper-button-next {
  position: absolute;
  top: 43%; 
  transform: translateY(-50%); 
  z-index: 10; 
  width: 150px;
  height: 150px;
  color: #ff6347; 
  border-radius: 50%; 
}

.arr-custom .swiper-button-prev {
  left: -63px; 
}

.arr-custom .swiper-button-next {
  right: -63px;
}
.arr-custom .swiper-button-prev:hover,
.arr-custom .swiper-button-next:hover{
 color: #e91e63; 
}